apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: flask
        image: 390844761974.dkr.ecr.us-east-1.amazonaws.com/project1-flaskapp:latest
        ports:
        - containerPort: 5000
